@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[50%] md:text-[55%] lg:text-[62.5%];
  }

  body {
    @apply bg-[#FAF8F5] font-manrope text-[1.6rem] font-normal leading-[2.4rem];
  }
}

@layer components {
  .container {
    @apply mx-auto max-w-[124rem] px-[2rem] lg:px-[4rem] xl:px-0;
  }
}

@layer utilities {
  .nav-item.active {
    @apply text-blackColor underline;
  }
}

/* Plain CSS */

.hero-avatar:nth-child(2) {
  margin-left: -1.5rem;
  z-index: -1;
}

.hero-avatar:nth-child(3) {
  margin-left: -1.5rem;
  z-index: -2;
}

.hero-avatar:nth-child(4) {
  margin-left: -1.5rem;
  z-index: -3;
}

.hero-avatar:nth-child(5) {
  margin-left: -1.5rem;
  z-index: -4;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: auto;
}

.scroller {
  white-space: nowrap;
  overflow-y: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgb(0, 0, 0) 12.5%,
    rgb(0, 0, 0) 87.5%,
    rgba(0, 0, 0, 0) 100%
  );
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller-in {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  animation: scroller 20s linear infinite;
}

.scroller:hover .scroller-in {
  animation-play-state: paused;
}

.scroller-in .scroller-content {
  margin-inline: 2rem;
}

@keyframes scroller {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
